<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form id="sentimentForm">
            <textarea id="textInput" name="textInput" placeholder="Enter text" required></textarea>
            <button type="submit">Analyze</button>
        </form>
        <p id="result"></p>
        <p id="emojiResult"></p> <!-- Add this line to display emoji -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
